* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #0265cb;
  --secondary-color: #fdfd36;
}

body {
  background-color: #f2f2f2;
  font-family: sans-serif;
}

header {
  background-color: var(--primary-color);
  border-bottom: 4px solid red;
  padding: 1rem 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url("./imgs/las-pinatas-interior-pinatas.jpg");
  /* background-size: contain; */
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  /* height: 20vh; */
}

header nav {
  /* order: 3; */
  /* border: 2px solid white; */
  /* background-color: white; */
}

nav button {
  gap: 20px;
  padding: 0.5rem 1rem;
  background-color: #ffffff;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  color: #0265cb;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

nav button:hover {
  background-color: var(--primary-color);
  color: #ffffff;
}

header button:active {
  background-color: var(--primary-color);
}

#content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 50px;
}

#content img {
  width: 500px;
}

.business-hours {
  /* display: flex; */
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.business-hours p {
  font-size: 1.5rem;
}

/* Menu Tab */
.menu {
  width: 1000px;
}

.menu .menu-title {
  font-size: 3rem;
  font-weight: bold;
  /* margin-bottom: 1.5rem; */
}

section {
  margin-top: 2.5rem;
}

.section-header {
  border-bottom: 2px solid rgba(0, 0, 0, 1);
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-bottom: 4px;
}

.section-header > p:first-of-type {
  font-size: 2rem;
  font-weight: bold;
}

.section-info {
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 4px;
  font-style: italic;
}

.section-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 12px 0px;
  border-bottom: 1px solid #000;
}

.section-item:last-of-type {
  border-bottom: none;
}

.dish,
.beverage,
.price,
.beverage-size {
  font-size: 20px;
}

.dish-info,
.beverage-info,
.beverage-size {
  font-size: 16px;
  color: #444;
  font-style: italic;
}

.dish-price-box,
.beverage-price-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.prices {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.price-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}
